body, .bg{
    background: #666666;
}

.fac-alert{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.span {
    padding: 5px;
    /* background:rgb(24, 3, 206); */
    color: white;
    margin: 5px;
}

.prime-box{
    height: 300px;
    overflow-y: scroll;
}

.outline{
  
}